:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  color: dimgrey;
  font-family: "Helvetica", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: blue;
}

a:focus {
  outline: 2px solid blue;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: rem-calc(10);
  font-family: "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.25rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.125rem;
}

h5,
.h5 {
  font-size: 1.125rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

small {
  font-family: "Helvetica", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.region-highlighted:empty {
  display: none;
}

.top-bar-section ul li {
  padding-top: 0;
}

.top-bar-section ul li a.is-active {
  color: #FFFFFF;
}

ul.menu a.is-active {
  color: inherit;
}

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}

body.toolbar-fixed .sticky.is-stuck .top-bar {
  margin-top: 39px;
}

body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .sticky.is-stuck .top-bar {
  margin-top: 78px;
}

body.toolbar-fixed .sticky.is-stuck.is-at-top {
  margin-top: 0 !important;
}

.top-bar .menu-item--collapsed, .top-bar .menu-item--expanded {
  list-style: none;
}

.top-bar .search-form .form-item-keys, .top-bar .search-form .form-actions {
  display: inline-block;
}

.dropbutton-wrapper {
  background-color: #008CBA;
  margin: 0 0 1.25rem;
}

.dropbutton-wrapper .button {
  margin-bottom: 0;
  width: 100%;
  text-align: left;
}

ul.menu {
  margin: 0;
  padding: 0;
}

.menu-item {
  padding-top: 0;
}

.menu-item--expanded,
.menu-item--collapsed {
  list-style-image: none;
  list-style-type: none;
}

.field__label {
  font-weight: normal;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0.875rem 1.5625rem;
  text-align: center;
  color: dimgrey;
  border: 1px solid currentColor;
}

.button:focus {
  outline: 2px solid blue;
}

.button:hover {
  color: #000;
}

.button:active {
  text-decoration: underline;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
textarea,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid dimgrey;
  padding: 0.9375rem;
  font-family: "Helvetica", sans-serif;
  line-height: 1;
  height: 3.125rem;
  background-color: #fff;
  color: #000;
  border-radius: 0;
  width: 100%;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  outline: 2px solid blue;
}

@media (min-width: 1024px) {
  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='month'],
  input[type='week'],
  input[type='email'],
  input[type='number'],
  input[type='search'],
  input[type='tel'],
  input[type='time'],
  input[type='url'],
  textarea,
  select {
    width: auto;
  }
}

textarea {
  height: auto;
}

select {
  background-image: url(../images/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1;
  background-position: calc(100% - 15px) 50%;
  padding-right: 2.1875rem;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}

select option {
  padding: 0;
}

.form-item label {
  display: block;
  margin-bottom: rem-calc(10);
}

.form-item.form-type-radio label {
  display: inline;
}

.form-item.form-type-select label {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

.form-item.form-type-select label::after, .form-item.form-type-select label::before {
  text-indent: 9999px;
}

.form-item.form-item-date input[type='text'].hasDatepicker {
  width: calc(100% - 35px);
  margin-right: rem-calc(10);
}

@media (min-width: 1024px) {
  .form-item.form-item-date input[type='text'].hasDatepicker {
    width: auto;
  }
}

.form-item img.ui-datepicker-trigger {
  width: auto;
  display: inline;
}
/*# sourceMappingURL=styles.css.map */
