
@mixin button {
  @include focus;

  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: rem-calc(14 25);
  text-align: center;
  color: $c-body;
  border: 1px solid currentColor;

  &:hover {
    color: $c-black;
  }

  &:active {
    text-decoration: underline;
  }
}

.button {
  @include button;
}
